*{
    box-sizing: border-box;
    margin: 0rem;
}

body{
    background-color: hsl(220, 15%, 55%);
    height: 100vh;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: hsl(220, 15%, 55%);

}
.card{
    height: 499px;
    width: 311px;
}

.card img{
    height: 287.7px;
    width: 279.9px;
}